body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
    margin: 0;
}
.wrapper {
    width: 1440px;
    margin: 50px auto;
    background-color: hsl(210, 46%, 95%);
    padding: 70px 0;
}
.container {
    grid-template-areas: "first first second third"
                         "fourth fifth fifth third";
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 30px;
    justify-content: center;
}
.review {
    padding: 25px;
    border-radius: 8px;
}
#firstUser {
    grid-area: first;
    background: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% top;
    background-size: 120px 120px;
    background-color: hsl(263, 55%, 52%);
    border: 2px solid hsl(263, 54%, 39%);
    color: hsl(0, 0%, 100%);
    position: relative;
}
#secondUser {
    grid-area: second;
    background-color: hsl(217, 19%, 35%);
    border: 2px solid hsl(218, 19%, 30%);
    color: hsl(0, 0%, 100%);
}
#thirdUser {
    grid-area: third;
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}
#fourthUser {
    grid-area: fourth;
    background-color: hsl(0, 0%, 100%);
}
#fifthUser {
    grid-area: fifth;
    background-color: hsl(219, 29%, 14%);
    border: 2px solid hsl(217, 33%, 8%);
    color: hsl(0, 0%, 100%);
}
.user {
    display: table;
}
.contactImage {
    display: table-cell;
    vertical-align: middle;
}
.contactImage img {
    vertical-align: bottom;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}
.name {
   display: table-cell;
   vertical-align: middle;
}
.name p {
    margin: 5px 20px;
}

.name p:first-of-type {
    font-size: 17px;
    font-weight: 600;
}
.name p:last-of-type {
    font-size: 12px;
    color:hsla(0, 0%, 100%, 50%);
}
.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
}
.review-text {
    line-height: 1.6;
    color: hsla(0, 0%, 100%, 70%);
}
.review-text p{
    margin-bottom: 0;
}
#thirdUser .name p:last-of-type, #fourthUser .name p:last-of-type {
    font-size: 12px;
    color:hsla(217, 19%, 35%, 50%);
}
#thirdUser .review-text, #fourthUser .review-text {
    color:hsla(217, 19%, 35%, 70%);
}
@media screen and (max-width: 1440px) {
    .wrapper{
        width: 100%;
    }
}
@media screen and (max-width: 1300px) {
    .container{
        grid-template-areas:    "first first"
                                "fifth fifth"
                                "second third"
                                "fourth third";
        grid-template-columns: 300px 300px;
    }
    .wrapper{
        margin: 0;
        padding: 50px 0;
    }
}
@media screen and (max-width: 768px) {
    .container{
        grid-template-areas:    "first"
                                "second"
                                "third"
                                "fourth"
                                "fifth";
        grid-template-rows: auto;                      
        grid-template-columns: 90%;
    }
    .wrapper {
        padding: 20px 0;
    }
}
